body{
	margin: 0;
	font-family: Arial, Helvetica, Times New Roman;
}
#header{
	background-color: #cccccc;
	height: 30px;
	padding: 5px;
	text-align: center;
}
#sidebar{
	width: 30%;
	height: 300px;
	padding: 5px;
	float: left;
	background-color: gray;
	text-align: center;
}
#konten{
	float: left;
	padding: 5px;
	text-align: center;
}
#footer{
	height: 30px;
	padding: 5px;
	background-color: firebrick;
	clear: both;
	text-align: center;
}