* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background: url("https://th.bing.com/th/id/R.c35cf710427bbc57a6692eedecc9caaa?rik=EjzcxzgfQH4MPg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f5BvYPVM.jpg&ehk=TxANz51nbKRXxVYcIDFtG1Qhrd2Op8y99l6oSp1%2ffhM%3d&risl=&pid=ImgRaw&r=0");
   
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    background : linear-gradient(#f5ab99, #feb47b, #ff7e5f, #765285, #351c4d);
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;
}

.menu {
    float: right;

}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    background: linear-gradient(#f5ab99, #feb47b, #ff7e5f, #765285, #351c4d);
    top: 0;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.barang-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap
}

.barang {
    width: 20%;
    margin: 0 auto;
}

.barang img {
    width: 80%;
    border-radius: 50%;
}

.barang p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: black;
}

#contact {
    background: #333
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
    background : linear-gradient(#f5ab99, #feb47b, #ff7e5f, #765285, #351c4d);
    font-family: arial;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .portofolio-tutor {
        width: 50%;
    }

}
.login{
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: #fff;
    border-radius: 3px;
}

.label{
    font-size: 10pt;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="website"],
textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}

.tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
}
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],{
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}
.tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
}

#home {
    background: #333
    padding:50px 0px 50px 0px;
}
.home {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.home-section {
    width: 20%;
    margin: 0 auto;
}
#beli {
    background: #333
    padding:50px 0px 50px 0px;
}
.beli{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.beli-section {
    width: 20%;
    margin: 0 auto;
}
.cek a{
    font-size: 10px;
    color: #ff886a;
    text-decoration: none;
}